@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&family=Roboto:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: 19px;
  height: 100vh;
  background-color: #f4f4f4;
  position: relative;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.hero {
  width: 100%; /* Adjust the width as needed */
  height: 600px; /* Adjust the height as needed */
  background-size: cover; /* Adjust the background-size property as needed */
  background-position: center center; /* Adjust the background-position property as needed */
  background-image: url("./assets/banner.jpg");
}
